{% include 'top.html' %}

<div class="container">
<h1 class="text-center mb-4">HR Dashboard</h1>

 <!-- Add New Employee Section -->
 <section class="card mb-3">
    <div class="card-body">
        <h3 class="card-title">Add New Employee</h3>
        <p class="card-text">Add new employees to the system with necessary details.</p>
        <a href="{{ url_for('add_employee') }}" class="btn btn-primary">Add Employee</a>
    </div>
</section>

<!-- Leave Requests Section -->
<section class="card">
    <div class="card-body">
        <h3 class="card-title">Leave Requests</h3>
        <p class="card-text">Apply for leave request.</p>
        <a href=# class="btn btn-primary">Request Leave</a>
    </div>
</section>

<!-- Manage Employee Details -->
<section class="card">
    <div class="card-body">
        <h3 class="card-title">Manage Employee Details</h3>
        <p class="card-text">Edit, view, or delete employee records.</p>
        <a href="#" class="btn btn-primary">Manage Employees</a>
    </div>
</section>



<!-- Total Working Hours Section -->
<section class="card">
    <div class="card-body">
        <h3 class="card-title">Total Working Hours</h3>
        <p class="card-text">View detailed working hours for each employee.</p>
        <a href="#" class="btn btn-primary">View Working Hours</a>
    </div>
</section>


<!-- Attendance Insights Section -->
<section class="card">
    <div class="card-body">
        <h3 class="card-title">Attendance Insights</h3>
        <p class="card-text">Analyze employee attendance and punctuality.</p>
        <a href="#" class="btn btn-primary">View Attendance Insights</a>
    </div>
</section>
</div>
{% include 'bottom.html' %}