{% include 'top.html' %}

<div class="container" style="padding-top: 80px;">
    <h1 class="text-center mb-4">HR Leave Request Dashboard</h1>

    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Employee Name</th>
                <th>Employee ID</th>
                <th>Leave Type</th>
                <th>Start Date</th>
                <th>End Date</th>
                <th>Reason</th>
                <th>Contact Info</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for request in leave_requests %}
            <tr>
                <td>{{ request[0] }}</td>
                <td>{{ request[1] }}</td>
                <td>{{ request[2] }}</td>
                <td>{{ request[3] }}</td>
                <td>{{ request[4] }}</td>
                <td>{{ request[5] }}</td>
                <td>{{ request[6] }}</td>
                <td>{{ request[7] }}</td>
                <td>
                    {% if request[8] == 0 %}
                    Pending
                    {% elif request[8] == 1 %}
                        Accepted
                    {% else %}
                        Unknown Status
                    {% endif %}
            
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<div class="mt-4 text-center">
    <a href="{{ url_for('emp_services') }}" class="btn btn-primary">Back to Leave Request Form</a>
</div>
<br>
<br>

{% include 'bottom.html' %}
