{% include 'top.html' %}

<div class="container" style="padding-top: 80px;">
    <h1 class="text-center mb-4">HR Leave Request Dashboard</h1>

    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Employee Name</th>
                <th>Employee ID</th>
                <th>Leave Type</th>
                <th>Start Date</th>
                <th>End Date</th>
                <th>Reason</th>
                <th>Contact Info</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for request in leave_requests %}
            <tr>
                <td>{{ request[0] }}</td>
                <td>{{ request[1] }}</td>
                <td>{{ request[2] }}</td>
                <td>{{ request[3] }}</td>
                <td>{{ request[4] }}</td>
                <td>{{ request[5] }}</td>
                <td>{{ request[6] }}</td>
                <td>{{ request[7] }}</td>
                <td>
                    <a href="{{ url_for('approve', employee_id=request[2]) }}" class="btn btn-sm btn-warning">approve</a>
                        <form action="{{ url_for('reject', employee_id=request[2]) }}" method="POST" style="display:inline;">
                            <button type="submit" class="btn btn-sm btn-danger">reject</button>
                        </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% include 'bottom.html' %}
